* {
    margin: 0;
    padding: 0;
}

body {
    background-color: burlywood;
}

.header-container {
    margin: 35px 20px 35px 20px;
    text-align: center;
}

.header-1 {
    color: brown;
    font-size: 50px ;
    margin-bottom: 20px;
}

.gambar-1 {
    width: 350px;
    height: auto;
}

.description-container {
    margin: 20px 120px 20px 120px;
    text-align: left;
}

.desc {
    color: brown;
    font-size: 18px;
    margin: 0px 0px 40px 0px;
    max-width: 1200px;
}

.lanjutan {
    text-align: center;
    font-size: 26px;
    font-weight: 650;
}

.bahan-container {
    margin: 20px 120px 40px 120px;
}

.header-2 {
    color: brown;
    font-size: 28px;
    margin-bottom: 15px;
}

ul {
    font-size: 18px;
    color: brown;
}

.langkah-container {
    margin: 20px 120px 20px 120px;
}

ol {
    color: brown;
    font-size: 18px;
}

.home {
    margin: 40px 120px 40px 120px;
    text-align: center;
}

.homelink {
    font-size: 40px;
    color: brown;
}